{% extends './appBar-and-bottomBar.html' %}

{% comment %} Page title {% endcomment %}
{% block title %}Change password{% endblock %}

{% comment %} appBar title {% endcomment %}
{% block appBarTitle %}Change password{% endblock %}

{% comment %} appBar action {% endcomment %}
{% block appBarAction %}
{% load static %}
<a href="{% url 'profile' %}">
	<img id='btnDrawer' src="{% static 'images/appBar-and-bottomBar/appBar-twisted-back-icon.png' %}">
</a>
{% endblock %}

{% comment %} included css and javascript {% endcomment %}
{% block file %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/change-profile/style.css' %}" />
{% endblock %}

{% comment %} body preload {% endcomment %}
{% block preload %}onload = "Init()"{% endblock %}

{% comment %} body content {% endcomment %}
{% block content %}
{% load static %}
<div class="body-container">
    <form name="form" method="post">
        {% csrf_token %}
        <div class="form-container">
            <div class="form-container-grid">
                
                <div class="form-container-grid-item first-item">
                    <span>New name</span>
                </div>
                <div class="form-container-grid-item">
                    <div class="form-item">
                        <input type="text" name="name" placeholder="Name" required/>
                    </div>
                </div>
            </div>
        </div>

        <div class="button-container">
            <button type="submit" name="update-btn" id="btnUpdate">UPDATE</button>
        </div>
    </form>
</div>
{% endblock %}