{% extends './snippets/appBar-and-bottomBar.html' %}

{% comment %} Page title {% endcomment %}
{% block title %}History{% endblock %}

{% comment %} appBar title {% endcomment %}
{% block appBarTitle %}History{% endblock %}

{% comment %} included css and javascript {% endcomment %}
{% block file %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/history/style.css' %}">
{% endblock %}

{% comment %} body content {% endcomment %}
{% block content %}
{% load static %}
<div class="body-container">

      {% if coughing_result_list %}
            {% for item in coughing_result_list %}
            <div class="history-item">
                  <span>DATE: {{item.test_date_time}}</span>
                  <span>RESULT: {{item.diagnose_status}}</span>
            </div>
            {% endfor %}

      {% else %}
            <div>Nothing else here</div>

      {% endif %}

</div>
{% endblock %}